@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1f2937;
}

#header-logo {
    font-size: 24px;
    color: #f9faf8
}

.header-link {
    font-size: 18px;
    color: #e5e7eb;
    margin: 10px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.navbar-left, .navbar-right {
    display: flex;
    align-items: center;
}
.hero {
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 80px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 67px;
}

#hero-main-text {
    font-size: 48px;
    font-weight: 700;
    color: #f9faf8
}

#hero-subtext {
    color: #e5e7eb;
    margin: 0px;
}

.hero-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding-right: 7px;
}

img {
    height: auto;
    max-width: 70%;
}

button {
    background-color: #3882f6;
    font-size: 18px;
    color: #e5e7eb;
    width: 28%;
    padding: 10px;
    margin-top: 14px;
    border: none;
    border-radius: 8px;
}

#info-header {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    padding: 30px;
}

.info-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.blue-square {
    border: 3px solid #3882f6;
    border-radius: 10px;
    padding: 50px;
    margin-bottom: 10px;
    height: 50px;
    width: 50px;
}

.info-text {
    text-align: center;
    margin-bottom: 100px;
}

#section4 {
    background-color: #9cd09b;
}
footer {
    background-color: #;
}